.footer {
    height: 40vh;
    background-color: #fff; 
    small {
        font-size: 0.95rem;
        color: #b8b6b6;
        font-weight: 300;
    }
    .orange {
        color: $primary-color;
    }
}
.footer-social {
    margin-top: 2.5rem;
    a {
        margin: 1.5rem;
        color:#9A9A9A;   
        &:hover {
            color:black;
        }     
    }
}